.reviewAppRoot {
  height: 90vh
}

.link {
  text-decoration: underline;
}

.ReviewScroll {
  max-height: 80vh;
  overflow: scroll;
}

.modalImage {
  max-height: 80vh;
  max-width: 80vw;
}

.thumbnail {
  max-height: 120px;
  width: auto;
}
.thumbnailModal {
  max-height: 120px;
  width: auto;
  padding-right: 5px;
}
.dateSize {
  font-size: 14px;
}
.summarySize {
  font-size: 18px;
}
.recommend {
  margin-left: 3%;
  font-size: 15px;
}
.response {
  margin-left: 5%;
  padding-left: 1%;
  background-color: #e8e8e9;
  font-size: 15px;

}
.body{
  font-size: 16px;
}
.showMore {
  font-size:14px;
}
.inputReviewModal {
  overflow: scroll;
}
.invalidEmail {
  border-color: red;
  color: red;
}
.largeNumber {
  font-size: 5em;
}
.smallStars{
  font-size: 5em;
}
.MuiSlider-thumb {
  height: 1;
  width: 1;
}
.characteristicLabels {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: .7em;
}
.characteristicTitle{
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
  font-weight: bold;
  margin-top: 2vh;
}
.ratingTitle {
  font-size: 1.25em;
  font-weight: bold;
}
.starLabels {
  font-size: .7em;
}
.colorChange {
  background-color: #e8e8e9;
}